
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 150px;
}

.picture {
  width: 90%;
}

main {
  min-height: 70vh;
}

.headline {
  padding-top: 30px;
  font-size: 1.5rem;
}

#services {
  padding-top: 100px;
  background-color: rgb(244, 247, 252);
  /* background-repeat: no-repeat; */
  background-size: cover;
}


@media all and (max-width: 450px) {
  Nav.Link {
    padding-left: 10px;
  }
}